body {
  background-image: linear-gradient(
    #D3D3D3 25%,
    #C0C0C0 55%,
    #000000 95%  
    ); /*Alterar cores do body*/
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

.cabecalho {
  color: white;
  font-family: cursive;
  font-size: 40px;
  padding: 10px;
  position: relative;
  text-align: center;
  text-shadow:	10px	10px	10px	black;
}

main{
  align-items: center;
  color: white;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4em;
  height: 75vh;
  justify-content:center;
}

main > section div {
  display:inline-block;
  padding: 20px;
}

main > section img {
  border-radius: 50%;
  height: 400px;  
  width: 400px;
}

main > section {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

main > section ul {
  list-style-type: none;
}

main > section button{
  background-color: #808080;
  border-radius: 6px;
  border-style: none;
  box-shadow:	0	8px	6px	white;
  color: white;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.0em;
  font-weight: bold;
  letter-spacing: -0.8px;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
}